mixin navLink(link, name)
  li(
    class={active: name == activePage}
    )
    a(
      href=link
    ) #{name}

nav#nav
  ul
    +navLink('index.html','Home')
    +navLink('/about.html','Study Nursing')
    +navLink('/contact.html','Work in Germany')
    <li>
      <a href="https://api.whatsapp.com/send?phone=4915254279017">
      <i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp
      </a>
    </li>
