script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://cheenissolution.com/",
      "logo": "https://cheenissolution.com/images/CS_logo_full_200.jpg",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "++49 0228 9293 9142",
        "contactType": "office",
        "areaServed": [
          "DE",
          "IN",
          "eu"
        ],
        "availableLanguage": [
          "English",
          "German",
          "Hindi"
        ]
      }],
      sameAs": [
      "https://www.facebook.com/mobilitastraining/"
      ]
    }
