mixin navLink(link, name)
  li.nav-item(
    class={active: name == selected}
    )
    a.nav-link(
      href=link
    ) #{name}

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  <a class="navbar-brand" href="#">
    img(src="/images/btcwiki-32.png", alt="BTC", style='vertical-align:text-bottom')
    |Wiki
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  .collapse.navbar-collapse#navbarContent
    ul.navbar-nav.mr-auto
      +navLink('index.html','Home')
      +navLink('/how-to-buy-bitcoin.html','Buy Bitcoin/Coins')
      +navLink('/invest-bitcoin-crypto.html','Safe Investment')
      +navLink('/crypto-currecy-guide.html', 'Crypto Guide')
      +navLink('/bitcoin-earn-crpto-guide.html', 'Crypto Wiki')
      +navLink('/bitcoin-price-india.html', 'Pricing')
      +navLink('/bitcoin-facts.html','Do you Know?')
      +navLink('/bitwiki-bitcoin-blog-news.html','Blog')
      +navLink('/bitcoin-altcoin-google-news.html','Google News')

