extends layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Cheenissolution | ABOUT, about us'

block content

  //About Main
  section.border-bottom
    .container.clearfix.my-5
      img.img-fluid.float-left.float-sm-right.float-md-left.rounded.p-2.pr-4.responsive(src="/images/solutions-m.jpg" alt="cheenis solution about us image")
      p.lead.text-blue Cheenis Solution is a global services provider delivering technology-driven innovative business solutions that fulfill the strategic goals of our customers. Cheenis Solution delivers incomparable business value to clients through a consolidation of process excellence, quality frame of reference and service delivery innovation.
      p.lead.text-blue We work closely with our clients to originate and deliver essential advantage. We bring foresight and knowledge, intense functional expertise, and a practical approach to build proficiencies and deliver significant impact. We adhere to all our commitments and our delivery is impeccable.
      p.lead.text-blue Cheenis Solution is headquartered in the former capital of Federal Republic of Germany, Bonn and a branch in Chennai, India. Our strategic partnerships and domain expertise have enabled us to deliver the best in breed - solutions and services to assist our clients accomplish their objectives certainly.

  //middle section--about
  section.border-bottom
    .container.clearfix.my-5
      .lead.pb-4  Our strategy is based on providing excellent services to both clients and employees. Our success depends on how effectively we conduct our core business.
      .row
        .col
          li.media
            img.mr-3(src='/images/vision.png', alt='Generic placeholder image')
            .media-body
              h5.mt-0.mb-1 Vision
              | At Cheenis Solutions we recognize that as IT resources become integral part to every industry's and organization's success and managing them properly becomes highly essential.
              | We offer a comprehensive set of software solutions tailored to your individual requirements. We deliver solutions that bonds people, processes, and technology.
        .col
          li.media
            img.mr-3(src='/images/mission.png', alt='Generic placeholder image')
            .media-body
              h5.mt-0.mb-1 Mission
              | We have proven our competencies in various complex projects for our customers. Our partnerships with our esteemed customers indicates the token of reliability, quality and delivery consciousness assured by Cheenis to its clients.
              | The wealth of experience, that we have amassed, and the satisfied clients speak for our competencies and cost-effectiveness. With such a strong advocacy, we are certain that we will be able to deliver the quality services for the requirements of our clients.

  //ceo mesasge
  section.container.mt-5
    h3 CEO’s Message
    p I am pleased to welcome you to the Cheenis Solution website.
    p Whether you’re a potential customer with an ambitious project ahead; an existing customer looking at on our latest news; or an associate partner, vendor or future talent looking for new opportunities, I assure you’ll find what you’re looking for here.
    p Cheenis solution is a company that is Driving Progress and with our customers and associate partners, forming and developing better communities through smart, safe, innovative solutions. Something we have been doing consistently with passion. Diversity and inclusion of ideas, skill, knowledge and culture make Cheenis Solution more competitive, more stable and able to smartly steer and operate the complex and frequently changing global business. Diversity empowers us by promoting unique viewpoints and challenging each of us, every day, to imagine beyond our classical framework. We are committed to building a superior and diversified talented personnel and to creating an environment in which every employee has the possibility to stand out based on his or her accomplishment.
    p Our progressive thinking and innovative approach is what makes us to excel among the crowd. It’s why so many of our customers prefer to work with us again. We have a clear vision on what we do and what we want to be – The leader and an Innovator in global market; and our core values guide our business – Innovation, Integrity, Quality, Customer Focus, Teamwork, Reliability. With our mission to deliver purposeful innovation which makes the world more sustainable, we are well sited to enhance our growth rate. I’m proud of the work we do, and we are committed to deliver on our promises and we believe there is no boundary to what we can achieve as a company.With Innovative and quality services, Cheenis has established itself as one of the prime providers of Advanced Automation and IT solutions in Asia, Europe and Middle East. We are excited about our prospects and remain confident in our ability to deliver long-term value with quality.
    p We look forward to serving you with our arsenal of proprietary tools and utilities to give you the edge over the competition and achieve your goals efficiently, in a timely and cost-effective manner. Please contact us to get this rewarding relationship initiated. I invite you to learn more about Cheenis by reviewing the information on this website and feel free to contact us for any additional information.
    p Thank you for considering Cheenis Solution for your next project.
    p Yours wholeheartedly,
      br
      strong  Chief Executive Officer(CEO)



