extends layouts/default
block title
  title='BtcWiki | Home, Bitcoin india, cryptocurrency, cryptoCoins,  crypto news, bitcoin price'
prepend link
  -var selected='Home'
block content
  p Hello this is website content.
