extends layouts/default
block prepend link
  - var selected = 'TRAINING'
block title
  title='Cheenissolution | Training, IT training, IOT Training'

block content
  //banner
  section.mb-5.border-bottom.p-5
    .container
      .one.my-3
        h4.bg-primary.pl-4.py-2.rounded.text-white TECHNICAL TRAINING
        .px-3
          p.lead At Cheenis, we are following strict guidelines and standards in providing Continuing Education Units for every course that we offer and we are committed to deliver profound & experiential educational programs that can enable you to develop and use an application as soon as you return to your working environment.
          p.lead With our expert’s knowledge, our skills extend across the four levels of automation and IT; from motion control to Manufacturing Execution Systems through HMI and SCADA. We offer a wide range of courses spanning from beginner courses to Advanced and Complex Systems Implementation courses.
          p.lead Our training drives beyond conventional classroom setup with innovative training solutions in a wide range of media including new and mind-blowing distance learning opportunities.

      .two.my-3
        h4.bg-primary.pl-4.py-2.rounded.text-white CORPORATE SOFT SKILL TRAINING
        .px-3
          p.lead At Cheenis, our experiential learning methodology sensitizes students to reflect on dimensions which have been left undiscovered. From orientation programs to soft skills trainings, leadership trainings and Management Development Programs, we don't omit any stone untouched for the facilitated learning of an individual.
          p.lead We offer many developmental programs that enhance an indoor training environment and turn learning into a bag of tricks and fun experience. To assist organizations in performing competitive as well as outshine, we offer few popular programs from the house of Cheenis in India that delivers high influence transformational excellence.

      .three.my-3
        h4.bg-primary.pl-4.py-2.rounded.text-white Campus To Corporate Training Modules
        .px-3
          p.lead Students look to elevate their careers to better heights when they align themselves to an institute. The respected consecrates of an institute assists students to attain a large amount of knowledge, while Cheenis aligns itself with the institute to commit in developing the personality of a student. This ensues in a solidly developed individual ready for a victorious corporate career.
          p.lead The transition from Campus to a corporate environment is a big challenge for almost all graduates. Expectancies and commitments in the workplace are totally different than those in university. There are unspoken shades and social norms that a graduate is completely unaware of and adapting to a professional environment can be incredibly difficult as also distressing to some of them. The youth of today’s world needs to be prepared for the changes and ready to adapt with a focus to thrive in the all new professional world.
          p.lead Campus to Corporate method of Training Programs aspires to make the transition simple. It would be of immense support to their personal commitment and performance level in the enterprise. A competent Trainer/ Mentor at this moment would bring them in comfort zone to familiarize themselves with the work culture. This module is focused at guiding the new executive to get on the same page with the vision of the organization.
