doctype html
html.no-js(lang='en, en_US')
  include ../includes/header
  main#main
    section.banner-homepage.mt-5.d-none.d-sm-block
    section.banner-mobilepage.mt-5.d-block.d-sm-none
    block content
.coitainer-fluid
  include ../includes/footer
